<!DOCTYPE html>
<html ng-app="Cadastros">
    <head>
        <meta charset="utf-8">
        <title>Sistema NAAC</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="bibliotecas/jquery/jquery-ui.min.css" rel="stylesheet">
        <link href="bibliotecas/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
        <link href="bibliotecas/css/bootstrap.css" rel="stylesheet">
        <link href="bibliotecas/css/angular-growl.min.css" rel="stylesheet">
        <link href="bibliotecas/css/angular-motion.min.css" rel="stylesheet">
        <link href="bibliotecas/css/menu.css" rel="stylesheet">
        <link href="view/login/login.css" rel="stylesheet" type="text/css"/>
        <link href="bibliotecas/css/style.css" rel="stylesheet">
        <link href="bibliotecas/css/angular-datepicker.css" rel="stylesheet"/>
        <link href="bibliotecas/css/angular-toggle-switch.css" rel="stylesheet" type="text/css"/>
        <link href="bibliotecas/css/angular-toggle-switch-bootstrap-3.css" rel="stylesheet" type="text/css"/>
        <link href="bibliotecas/acute.select/acute.select.css" rel="stylesheet" type="text/css"/>
        <link href="bibliotecas/css/atendimento.css" rel="stylesheet" type="text/css"/>
        <!--<link href="./view/atendimentoDeixarOCurso/atendimentoDeixarOCurso.css" rel="stylesheet">-->
        <link href="./view/perfilAcesso/formPerfilUsuario.css" rel="stylesheet">
        <link href="bibliotecas/css/table-fixed-header.css" rel="stylesheet" type="text/css"/>
        <link href="bibliotecas/css/timeLine.css" rel="stylesheet" type="text/css"/>
        <link href="bibliotecas/css/relatorioAcademico.css" rel="stylesheet" type="text/css"/>

        <script src="bibliotecas/js/angular.min.js"></script>
        <script src="./bibliotecas/js/angular-locale_pt-br.js" type="text/javascript"></script>
        <script src="./bibliotecas/js/angular-sanitize.min.js"></script>
        <script src="./bibliotecas/js/angular-cookies.min.js" type="text/javascript"></script>
        <script src="./bibliotecas/js/angular-animate.min.js"></script>
        <script src="./bibliotecas/js/angular-datepicker.js" type="text/javascript"></script>
        <script src="./bibliotecas/js/angular-strap.min.js" type="text/javascript"></script>
        <script src="./bibliotecas/js/angular-strap.tpl.min.js" type="text/javascript"></script>
        <script src="./bibliotecas/js/angular-touch.min.js" type="text/javascript"></script>
        <script src="./bibliotecas/js/angular-route.min.js"></script>
        <script src="./bibliotecas/js/angular-toggle-switch.js" type="text/javascript"></script>
        <script src="bibliotecas/js/angular-toggle-switch.min.js" type="text/javascript"></script>
        <script src="./bibliotecas/menu/menu.js" type="text/javascript"></script>
        <script src="./bibliotecas/js/start.js"></script>
        <script src="./bibliotecas/js/router.js"></script>
        <script src="./bibliotecas/js/angularjs-dropdown-multiselect.js" type="text/javascript"></script>
        <script src="./bibliotecas/js/dirPagination.js"></script>
        <script src="./bibliotecas/js/angular-growl.js" type="text/javascript"></script>
        <script src="./bibliotecas/js/lodash.min.js" type="text/javascript"></script>
        <script src="./bibliotecas/js/permissaoAcessoController.js"></script>
        <script src="./controllerIndex.js" type="text/javascript"></script>
        <script src="./view/perfilAcesso/controllerPerfilAcesso.js" type="text/javascript"></script>
        <script src="./bibliotecas/js/listagem/RequisicaoListagem.js"></script>
        <script src="view/relatorioAcademico/itensTimeline.js" type="text/javascript"></script>
        <script src="./bibliotecas/js/funcoes.js" type="text/javascript"></script>
        <script src="./bibliotecas/acute.select/acute.select.js" type="text/javascript"></script>
        <script src="./bibliotecas/js/table-fixed-header.js" type="text/javascript"></script>     
        <script src="./view/usuario/controllerUsuario.js" type="text/javascript"></script>
        <script src="./view/atendimentoDeixarOCurso/objetivo/controllerObjetivo.js" type="text/javascript"></script>        
        <script src="./view/perfilUsuario/ItemAvulso.js" type="text/javascript"></script>

        <script src="./view/atendimentoDeixarOCurso/controllerAtendimentoDeixarOCurso.js" type="text/javascript"></script>
        <script src="./view/atendimentoEspecial/controllerAtendimentoEspecial.js"></script>
        <script src="./view/atendimentoMotivo/controllerMotivo.js" type="text/javascript"></script>        
        <script src="./view/atendimentoPreventivo/controllerAtendimentoPreventivo.js" type="text/javascript"></script>
        <script src="./view/login/controllerLogin.js" type="text/javascript"></script>
        <script src="./view/perfilAcesso/controllerPerfilAcesso.js" type="text/javascript"></script>
        <script src="./view/perfilUsuario/controllerPerfilUsuario.js" type="text/javascript"></script>
        <script src="./view/relatorioAcademico/controllerRelatorioAcademico.js" type="text/javascript"></script>
        <script src="./view/relatorios/controllerRelatorios.js" type="text/javascript"></script>
        <script src="./view/resumoEscolar/controllerMateriaEnsinoMedio.js" type="text/javascript"></script>
        <script src="./view/relatorioAcademico/controllerRelatorioEstatistica.js" type="text/javascript"></script>
        <script src="./view/atendimentoEspecial/solicitacao/controllerSolicitacao.js" type="text/javascript"></script>
    </head>

    <body ng-controller="controllerIndex" ng-init="initSistema()">

    <ng-include ng-if="exibeMenu" src="'view/menu/header.html'" ></ng-include>

    <div id="main" class="container-fluid">
        <div class="row">


            <div ng-if="exibeMenu" id="sidebar-left" class="col-xs-2 col-sm-2 col-md-2" style="position: fixed;">

                <ul class="nav main-menu">
                    <li  ng-if="exibeMenu" class="dropdown" ng-repeat="permissao in permissoesUsuarioLogado">

                        <a href="#" class="dropdown-toggle">
                            <i class="fa {{icones[permissao.descricao]}}"></i>
                            <span class="hidden-xs">{{permissao.descricao}}</span>
                        </a>

                        <ul class="dropdown-menu">
                            <li ng-repeat="rota in permissao.inferiores">
                                <!--{{rota}}-->
                                <a ng-if="rota.nomenu" class="ajax-link" href="#{{rota.rota}}">{{rota.descricao}}</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <!--<ng-include src="'view/menu/menuLateral.html'" ></ng-include>-->

            <div class="container-fluid">
                <div growl></div>
                <div ng-view></div>
            </div>
        </div>
    </div>
    <!--End Container-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

    <script src="bibliotecas/jquery/jquery-2.1.0.min.js"></script>
    <script src="bibliotecas/jquery/jquery-ui.min.js"></script>
    <script src="bibliotecas/js/bootstrap.js"></script>
    <script src="bibliotecas/js/autocomplete.min.js" type="text/javascript"></script>
    <script src="bibliotecas/js/menu.js"></script>
    <script src="bibliotecas/js/highcharts.js"></script>
    <script src="bibliotecas/js/highcharts.src.js"></script>

</body>

</html>
